html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[v-cloak] {
  display: none;
}

.primary-color {
  color: #409eff;
}
